<h1> <%= @number_of_dice %>d<%= @number_of_sides_per_die %> </h1>

  <p></p><p>You rolled <%= @demonstrative_pronoun %>: </p>
  
  <p><%= @roll_string %></p><p></p>
  
  <p><%= @roll_message %></p>
  
  
